extends layout

block extrahead
    link(rel="canonical", href="/portfolio")
    link(rel="stylesheet", href="/css/portfolio.css")

block content
  h2 Portfolio

  #intro.
    Have a look at my IT-related doings here. Currently, I am not available for hire, so please check back later. Also, I have finally decided to use github as my main project repository, check:
  p
    a(title="kodeaffe @ github",href="http://github.com/marmorkuchen") http://github.com/marmorkuchen

  #portfolio
    - for (var i in portfolio)
      h3!= portfolio[i].year
      - for (var j in portfolio[i].items)
        - var item = portfolio[i].items[j]
        table.box(id="#{item['header']}")
          tr
            td(colspan="2")
              - var header = item['header']
              - if ('start' in item && 'end' in item)
                - header += ' (' + item['start'] + ' - ' + item['end'] + ')'
              - else if ('start' in item)
                - header += ' (' + item['start'] + ')'
              - else if ('end' in item)
                - header += ' (- ' + item['end'] + ')'
              h4= header

          tr
            td.label
              a(href="#{item['link_href']}") #{item['link_text']}
            td!= item['description']

          tr
            td.label technologies
            td= item['technologies'].join(', ')

          tr
            td.label status
            td= item['status']
